# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

tlengrep/cadenas_de_prueba/1000000de10.txt
tlengrep/cadenas_de_prueba/1000000de100.txt
tlengrep/cadenas_de_prueba/1000000de1000.txt
tlengrep/cadenas_de_prueba/100000de10.txt
tlengrep/cadenas_de_prueba/100000de100.txt
tlengrep/cadenas_de_prueba/100000de1000.txt
tlengrep/cadenas_de_prueba/10000de10.txt
tlengrep/cadenas_de_prueba/10000de100.txt
tlengrep/cadenas_de_prueba/10000de1000.txt
tlengrep/cadenas_de_prueba/10000de19.txt
